{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Review</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'books_list' %}">Home</a>
        </li>

        {% comment %} {% if user.is_authenticated %} {% endcomment %}
        <li>
          {% comment %} <a href="{% url 'list_favorites' %}">Favorites</a> {% endcomment %}
        </li>
        <li>
          <a href="{% url 'new_book' %}">Create a Book</a>
        </li>
        <li>
          {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
        </li>
        {% comment %} {% endif %} {% endcomment %}

        <li>
          {% comment %} <a href="{% url 'genre_list' %}">Genres</a> {% endcomment %}
        </li>

        {% comment %} {% if user.is_authenticated == False %} {% endcomment %}
        <li>
          {% comment %} <a href="{% url 'login' %}">Login</a> {% endcomment %}
        </li>
        {% comment %} {% endif %} {% endcomment %}

        {% comment %} {% if user.is_staff %} {% endcomment %}
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% comment %} {% endif %} {% endcomment %}

      </ul>
    </nav>
    {% block pagination %}
    {% endblock pagination %}
  </header>
  {% block create_button %}
  {% endblock create_button %}
<body>
  {% block content %}
  {% endblock content %}
</body>

</html>
