{% extends 'books/base.html' %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'book_edit' book.id %}">Edit</a>
      <a href="{% url 'book_delete' book.id %}">Delete</a>
    </div>

    {% comment %} {% if recipe.image %}
      <img src="{{ recipe.image }}" class="pull-right">
    {% endif %} {% endcomment %}

    <h1>{{ book.title }}</h1>
    <h2>by: {{ book.author | default_if_none:"Unknown" }}</h2>
    {% comment %} <p>
      Created on {{ recipe.created }} |
      Updated on {{ recipe.updated }}
    </p> {% endcomment %}

    <p>Genres: {% for genre in book.genre.all %}{{ genre }}, {% endfor %}</p>

  </main>
{% endblock content %}
