{% extends 'books/base.html' %}

{% block content %}
  <main class="recipe-form">
    <h2>Create a New Book<h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <input type="submit" value="Submit">
        <button class="button">Create</button>
      </div>
    </form>
  </main>
{% endblock content %}
